* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  color: #011627;
}

header {
  border-bottom: 2px solid black;
  position: fixed;
  top: 0;
  width: 100%;
  background: #DDD78D;
  z-index: 997;
}

header h1 {
  text-align: center;
  padding: 20px 0;
}

header .statsWrapp {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  -ms-flex-align: center;
      align-items: center;
  padding: 20px 0;
}

header .statsWrapp .bookStat input {
  cursor: pointer;
  margin-right: 10px;
}

header .statsWrapp .bookStat .digitBook {
  color: red;
}

.bookList {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 155px;
}

.bookBox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 380px;
  height: 180px;
  margin: 10px;
  padding: 6px;
  padding-bottom: 0;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 0 3px black;
}

.bookBox.hide {
  display: none;
}

.bookBox.trueRead {
  background: #5EFC8D;
}

.bookBox.falseRead {
  background: #8EF9F3;
}

.bookInfo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  height: 39px;
  border-bottom: 1px solid black;
}

.bookInfo .infoDet {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  -ms-flex-align: center;
      align-items: center;
  width: 40%;
}

.bookInfo .infoDet a {
  text-decoration: none;
  color: green;
}

.bookInfo .infoDet a:hover {
  color: red;
  transform: scale(1.5);
}

.bookInfo .infoDet a i {
  animation: appear 1.5s ease infinite alternate;
}

@keyframes appear {
  from {
    opacity: 0.3;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1.3);
  }
}

.bookInfo .pageWrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 80%;
}

.bookInfo .pageWrapper .bookPage {
  width: 50%;
}

.bookInfo .pageWrapper .bookPage i {
  margin-right: 6px;
  color: grey;
}

.bookInfo .pageWrapper .bookTime {
  width: 50%;
}

.bookInfo .pageWrapper .bookTime i {
  color: goldenrod;
  margin-right: 6px;
}

.bookTitle {
  height: 60px;
  font-size: 26px;
  padding: 10px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
}

.bookAuthor {
  height: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  padding: 10px 0;
  font-style: italic;
}

.myInfo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  color: rgba(128, 128, 128, 0.3);
  height: 39px;
  border-top: 1px solid black;
}

.myInfo .fa-check-double.true {
  color: blue;
}

.myInfo .fa-tablet-alt.true {
  color: orangered;
}
/*# sourceMappingURL=style.css.map */