@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  color: #011627;
  font-family: 'Rowdies', cursive;
}

header {
  border-bottom: 2px solid #f8b500;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fceabb;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #f8b500, #fceabb);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #f8b500, #fceabb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  z-index: 997;

  h1 {
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
  }

  .statsWrapp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    font-weight: regular;

    .bookStat {

      input {
        cursor: pointer;
        margin-right: 10px;
      }

      .allBooks.digitBook {
          color: blue;
      }

      .readedNo.digitBook {
        color: green;
      }

      .unreadedNo.digitBook {
        color: tomato;
      }

      .unavailableNo.digitBook {
        color: red;
      }
    }
  }
}

.bookList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 155px;
}

.bookBox {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 180px;
  margin: 10px;
  padding: 6px;
  padding-bottom: 0;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border: 4px solid goldenrod;
  box-shadow: 1px 2px 4px black; 

  &.hide {
    display: none;
  }

  &.trueRead {
    background: #a8ff78;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  &.falseRead {
    background: #B2FEFA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
}

.bookInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 39px;
  border-bottom: 1px solid black;

  .infoDet {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;

    .bookNo {
      // color: red;
    }

    a {
      text-decoration: none;
      color: green;

      &:hover {
        color: red;
        transform: scale(1.5);
      }
      i {
        animation: appear 1.5s ease infinite alternate;
      }

      @keyframes appear {
        from {
          opacity: 0.3;
          transform: scale(1);
        }
        to {
          opacity: 1;
          transform: scale(1.3);
        }
      }
    }
  }


  .pageWrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    .bookPage {
      width: 50%;

      i {
        margin-right: 6px;
        color: grey;
      }
    }

    .bookTime {
      width: 50%;
      i {
        color: goldenrod;
        margin-right: 6px;
      }
    }
  }
}

.bookTitle {
  height: 60px;
  font-size: 26px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.bookAuthor {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  font-style: italic;
  font-weight: light;
}

.myInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgba(128, 128, 128, 0.3);
  height: 39px;
  border-top: 1px solid black;

  .fa-check-double {
    &.true {
      color: blue;
    }
  }

  .fa-tablet-alt {
    &.true {
      color: orangered;
    }
  }
}


@media (max-width: 998px) {
  header {
  
    h1 {
      padding: 4px 0;
    }
  
    .statsWrapp {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 6px 0;
  
      .bookStat {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 767px) {

  header {
  
    h1 {
      padding: 6px;
      font-size: 24px;
    }
  
    .statsWrapp {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      padding: 6px 20px;
      font-weight: regular;
  
      .bookStat {
  
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 4px 0;
        font-size: 14px;
      }
    }
  }
}